{% extends "base.html" %}
{% load gravatar %}
{% block title %}{% endblock %}

{% block content %}
<div class="container-fluid">

    {% regroup events by author as author_events %}
    {% for author in author_events %}
    {% for event in author.list %}
    <div class="row">
        <h2>
            <a href="{% url 'frontend:event-detail' event_pk=event.pk %}" style="text-decoration: none;">
                <img class="rounded-circle" src="{{author.grouper.email| gravatar:50}}" /> {{ event.name }}
            </a>
        </h2>
        {% for category in event.categories.all %}
            {% if not category.done %}
                {% include "partials/category-list.html" %}
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    {% empty %}
    Nothing to do! 🎉
    {% endfor %}

</div>
{% endblock %}
