{% extends "base.html" %}

{% block title %}
<div class="d-flex justify-content-between align-items-center">
    <span>
        {{ event.icon }} {{ event.name }}
        <span class="event-status {% if event.open %}event-status-open{% else %}event-status-closed{% endif %}">
            {% if event.open %}Open{% else %}Closed{% endif %}
        </span>
    </span>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actions
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item cursor-pointer" hx-post="{% url 'frontend:event-toggle-open' event_pk=event.pk %}">
                    <i class="bi {% if event.open %}bi-lock {% else %} bi-unlock {% endif %}"></i>
                    {% if event.open %}Close{% else %}Reopen{% endif %} Event
                </a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for category in event.categories.all %}
            {% include "_event-components.html#category_list" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
