{% extends "base.html" %}

{% load gravatar %}

{% block title %}
<div class="dropdown">
    Templates
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Actions
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="{% url 'frontend:template-create' %}">
                <i class="bi bi-plus-square link-primary"></i>
                Create Template
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row justify-content-between">
        {% for template in templates %}
        <div class="col">
            <div class="card mb-3">
                <div class="position-absolute top-0 end-0 p-1">
                    <span class="badge top-0 start-100">
                        <img class="rounded-circle" src="{{user.email | gravatar}}" />
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ template.icon }} {{ template.name }}
                    </h5>
                    <p class="card-text"> {{ template.description }} </p>
                    <a class="stretched-link" href="{% url 'frontend:template-detail' template_pk=template.pk %}"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
