{% extends "base.html" %}

{% block title %}
<div class="d-flex justify-content-between align-items-center">
    <span>{{ template.icon }} {{ template.name }}</span>
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Actions
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="{% url 'frontend:template-category-create' template_pk=template.pk %}">
                <i class="bi bi-plus-square link-primary"></i>
                Add Category
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'frontend:event-create' template_pk=template.pk %}">
                <i class="bi bi-calendar-date link-primary"></i>
                Create Event
            </a>
        <li>
            <a class="dropdown-item" href="{% url 'frontend:template-edit' template_pk=template.pk %}">
                <i class="bi bi-pen"></i>
                Edit Template
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'frontend:template-export' template_pk=template.pk %}">
                <i class="bi bi-cloud-download"></i>
                Export Template
            </a>
        </li>
        <li>
            <a class="dropdown-item cursor-pointer "
                hx-post="{% url 'frontend:template-delete' template_pk=template.pk %}" hx-confirm="Are you sure?">
                <i class="bi bi-trash link-danger"></i>
                Delete Template
            </a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for category in template.categories.all %}
        {% include "_template-components.html#template_category_list" with category=category %}
        {% endfor %}
    </div>
</div>
{% endblock %}
