{% extends 'bootstrap.html' %}

{% load static %}
{% load gravatar %}

{% block bootstrap_extra_head %}

<link href="{% static 'css/project.css' %}" rel="stylesheet">

<link rel="icon" type="image/png" href="{% static 'images/favicon-96x96.png' %}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}" />
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}" />
<meta name="apple-mobile-web-app-title" content="Well Prepared" />
<link rel="manifest" href="{% static 'images/site.webmanifest' %}" />

<meta name="theme-color" content="#ffffff">
{% endblock %}

{% block bootstrap_content %}
{% if user.is_authenticated %}
<!-- nav only if user is logged in -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'frontend:dashboard' %}">
            <img src="{% static 'images/favicon-96x96.png' %}" alt="" width="30" height="24">
            <div class="d-none d-md-inline">Well Prepared</div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'frontend:dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'frontend:template-list' %}">Templates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'frontend:event-list' %}">Events</a>
                </li>
            </ul>
            <!-- Icons -->
            <ul class="navbar-nav d-flex flex-row me-1">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img class="rounded-circle" style="margin-top: -0.27rem; margin-bottom: -0.27rem" alt="avatar2"
                            src="{{user.email | gravatar}}" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endif %}

<div class="container-fluid">
    {% if api_notifications %}
    <div class="container-fluid">
        {% for m in api_notifications %}
        <div class="alert alert-warning" role="alert">
            <h2 style="margin-top: 0">
                {{ m.subject }}
            </h2>
            <p>
                {{ m.message }}
            </p>
            <p>
                <a class="btn btn-danger" href="{% url 'api:delete-notification' pk=m.pk %}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <h1>{% block title %}{% endblock %}</h1>

    {% block content %}(no content){% endblock %}
</div>
{% endblock %}
