{% load emoji %}

{% if display_closed_items or item.status == 'O' %}
<li id="item-{{ item.pk }}" class="item d-flex justify-content-between align-items-center border-bottom mb-2 ps-2" hx-swap="outerHTML">
    <a style="cursor: pointer; text-decoration: none;" hx-post="{% url 'frontend:item-toggle-status' item_pk=item.pk %}"
        hx-target="#item-{{ item.pk }}">
        <span class="item-status-{{ item.status }} handwritten {% if item.name|first_is_emoji %} text-with-indent {% endif %}">
            {{ item.name }}
        </span>
    </a>
    {% if item.description %}
    <span class="d-flex">
        <a class="link-primary cursor-pointer" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="{{ item.description}}">
            <i class="bi bi-info-square"></i>
        </a>
    </span>
    {% endif %}

</li>
{% endif %}
