<div class="col">
    <div class="card mb-3 me-2" style="width: 20rem;">
        <div class="card-body">
            <div class="card-title">
                <h5>
                    {{ section.icon }} {{ section.name }}
                    <a style="cursor: pointer; text-decoration: none; color: black;"
                       hx-post="{% url 'frontend:section-toggle-display-closed-items' section_pk=section.pk %}"
                       hx-target="#section-{{ section.pk }}-item-list"
                       hx-on::after-request="htmx.toggleClass(htmx.find('#section-{{ section.pk }}-toggle-display-closed-items'), 'filter-off');"
                       data-bs-toggle="tooltip"
                       data-bs-title="Show/hide closed items">
                        <i id="section-{{ section.pk }}-toggle-display-closed-items"
                           class="bi bi-filter-square {% if not section.display_closed_items %} filter-off {% endif %}"></i>
                    </a>
                </h5>
            </div>
            <div id="section-{{ section.pk }}-item-list">
                {% include "partials/item-list.html" %}
            </div>
        </div>
    </div>
</div>
