<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <div class="card mb-3 me-2">
        <div class="card-body">
            <div class="card-title">
                <h5>
                    <span
                        {% if category.description %}
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="{{ category.description }}"
                        {% endif %}
                        >
                        {{ category.icon }} {{ category.name }}
                    </span>
                    <a href="{% url 'frontend:template-category-edit' category_pk=category.pk %}">
                        <i class="bi bi-pen fs-6"></i>
                    </a>
                </h5>
            </div>
            <div>
                {% include "partials/template-item-list.html" %}
            </div>
            <div hx-target="#category-{{category.pk}}-items" hx-swap="beforeend">
                <button class="btn btn-success btn-sm"
                    hx-get="{% url 'frontend:template-item-create' category_pk=category.pk %}" type="submit">
                    <i class="bi bi-plus-square"></i>
                </button>
            </div>
        </div>
    </div>
</div>
