<li class="item border-bottom mb-2 ps-2" hx-target="this" hx-swap="outerHTML">

    <span class="handwritten">
        {{ item.name }}
    </span>
    <span class="position-absolute bottom-0 end-0 me-2">
        <a class="link-primary" style="cursor: pointer; text-decoration: none;"
            hx-get="{% url 'frontend:template-item-edit' item_pk=item.pk %}">
            <i class="bi bi-pen"></i>
        </a>

        <a class="ms-2 link-danger" style="cursor: pointer; text-decoration: none;"
            hx-post="{% url 'frontend:template-item-delete' item_pk=item.pk %}" hx-confirm="Are you sure?">
            <i class="bi bi-x-square"></i>
        </a>
    </span>
</li>
